.selected-element-attributes {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 50px;
  width: 100%;
  background-color: #d0d0d0;

  #single-selected-elem-attributes {
    display: none;
    .elem-class-name {
      margin-right: 10px;
    }
  }
}
