@import './tools.scss';
@import './layers.scss';
@import './elem-attributes.scss';
@import './common.scss';
@import './action-tools.scss';
@import './fonts.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

.app-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .drawing {
    flex: 1;
    display: flex;
    .svgcanvas-container {
      border: 1px solid #808080;
      flex: 1;
      box-shadow: inset 0px 0px 3px rgb(154 147 140 / 40%),
        inset 0px 0px 0px rgb(154 147 140 / 40%);
    }
  }
}
